{{define "title"}}About{{end}} {{define "content"}}
<h1>About</h1>
<a href="/">Home</a>
<p>
  Ipsum a impedit alias maxime totam? Eos perspiciatis fuga vel consequuntur
  dicta Sint velit maxime dolor non accusantium? Vel veritatis sit repellat quam
  iure quidem Voluptatum fugiat eos facere saepe!
</p>
<p>
  Sit totam dignissimos eligendi consectetur veritatis illo accusantium Sint
  laborum voluptates unde accusantium a nam modi sint Voluptates ad explicabo
  quibusdam perspiciatis eius Iste recusandae qui in non dolorem Maiores
</p>
<p>
  Amet obcaecati sint exercitationem quidem vero veritatis. Vitae voluptas odit
  vero modi est Illum minima nesciunt harum doloremque dolores? Quo tempora
  optio neque ex animi Libero quia sed voluptate nam
</p>
<p>
  Amet quod cumque est dolor ipsam Animi quaerat tempore aperiam incidunt
  dignissimos Voluptates dolores at nihil perferendis corrupti. Totam blanditiis
  delectus ex repudiandae cupiditate? Dolores quasi nisi repellat error
  perferendis!
</p>
<p>
  Sit tenetur nostrum fugiat rerum accusamus Voluptatem fugiat modi nesciunt
  accusamus sint Quidem inventore ea atque qui architecto quidem. Quidem
  adipisci iste incidunt ad deserunt repudiandae Quisquam voluptatem reiciendis
  incidunt
</p>
{{end}}
