{{define "title"}}Dashboard{{end}} {{define "content"}}
<!-- Dashboard Section -->
<!-- Dashboard User Details Section -->
<section class="py-16 bg-gray-50">
  <div class="container mx-auto px-4">
    <div class="bg-white p-8 rounded-lg shadow-md max-w-3xl mx-auto flex flex-col md:flex-row items-center">
      <div class="w-32 h-32 rounded-full overflow-hidden mb-8 md:mb-0 md:mr-8 relative group">
        <img src="" alt="User Image" id="user_image" class="w-full h-full object-cover" />
      </div>

      <div class="flex-1 w-full">
        <div class="mb-6">
          <h3 class="text-lg md:text-xl text-gray-500 font-medium">
            Account Balance:
          </h3>
          <p class="text-3xl md:text-5xl font-bold text-green-700" id="balance"></p>
        </div>

        <div class="space-y-2 text-gray-700">
          <div class="flex flex-col sm:flex-row sm:justify-between">
            <span class="font-bold">Account ID:</span>
            <span id="id" class="sm:text-right text-black"></span>
          </div>
          <div class="flex justify-between">
            <span class="font-bold">First Name:</span>
            <span id="firstname"></span>
          </div>
          <div class="flex justify-between">
            <span class="font-bold">Last Name:</span>
            <span id="lastname"></span>
          </div>
          <div class="flex justify-between">
            <span class="font-bold">Username:</span>
            <span id="username"></span>
          </div>
          <div class="flex justify-between">
            <span class="font-bold">Email:</span>
            <span id="email"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Dashboard Services Section -->
<section id="dashboard" class="py-16 bg-gray-50">
  <div class="container mx-auto px-6">
    <h3 class="text-3xl font-bold mb-8 text-center">Dashboard Services</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Deposit -->
      <a href="/dashboard/deposit">
        <div
          class="h-full bg-white p-6 rounded-lg shadow-md hover:shadow-lg cursor-pointer transition transform hover:scale-105 flex flex-col">
          <div class="flex items-center mb-4">
            <span class="text-blue-800">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-wallet" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path
                  d="M17 8v-3a1 1 0 0 0 -1 -1h-10a2 2 0 0 0 0 4h12a1 1 0 0 1 1 1v3m0 4v3a1 1 0 0 1 -1 1h-12a2 2 0 0 1 -2 -2v-12" />
                <path d="M20 12v4h-4a2 2 0 0 1 0 -4h4" />
              </svg>
            </span>
            <h4 class="text-xl font-bold ml-2 text-blue-800">Deposit</h4>
          </div>
          <p class="text-gray-600 flex-grow">
            Add funds to your existing account easily with our deposit feature.
          </p>
        </div>
      </a>

      <!-- Withdraw -->
      <a href="/dashboard/withdraw">
        <div
          class="h-full bg-white p-6 rounded-lg shadow-md hover:shadow-lg cursor-pointer transition transform hover:scale-105 flex flex-col">
          <div class="flex items-center mb-4">
            <span class="text-blue-800">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-cash" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M7 9m0 2a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2z" />
                <path d="M14 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                <path d="M17 9v-2a2 2 0 0 0 -2 -2h-10a2 2 0 0 0 -2 2v6a2 2 0 0 0 2 2h2" />
              </svg>
            </span>
            <h4 class="text-xl font-bold ml-2 text-blue-800">Withdraw</h4>
          </div>
          <p class="text-gray-600 flex-grow">
            Withdraw your funds from your account whenever needed.
          </p>
        </div>
      </a>

      <!-- Transactions -->
      <a href="/dashboard/transactions">
        <div
          class="h-full bg-white p-6 rounded-lg shadow-md hover:shadow-lg cursor-pointer transition transform hover:scale-105 flex flex-col">
          <div class="flex items-center mb-4">
            <span class="text-blue-800">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-receipt" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16l-3 -2l-2 2l-2 -2l-2 2l-2 -2l-3 2" />
                <path d="M14 8h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5m2 0v1.5m0 -9v1.5" />
              </svg>
            </span>
            <h4 class="text-xl font-bold ml-2 text-blue-800">Transactions</h4>
          </div>
          <p class="text-gray-600 flex-grow">
            Review your past transactions and track your financial history.
          </p>
        </div>
      </a>

      <!-- Transfer -->
      <a href="/dashboard/transfer">
        <div
          class="h-full bg-white p-6 rounded-lg shadow-md hover:shadow-lg cursor-pointer transition transform hover:scale-105 flex flex-col">
          <div class="flex items-center mb-4">
            <span class="text-blue-800">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-transfer" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M20 10h-16l5.5 -6" />
                <path d="M4 14h16l-5.5 6" />
              </svg>
            </span>
            <h4 class="text-xl font-bold ml-2 text-blue-800">Transfer</h4>
          </div>
          <p class="text-gray-600 flex-grow">
            Send money to other accounts securely and efficiently.
          </p>
        </div>
      </a>

      <!-- Delete -->
      <a href="/dashboard/delete">
        <div
          class="h-full bg-red-500 p-6 rounded-lg shadow-md hover:shadow-lg cursor-pointer transition transform hover:scale-105 flex flex-col">
          <div class="flex items-center mb-4">
            <span class="text-white">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24"
                viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M4 7l16 0" />
                <path d="M10 11l0 6" />
                <path d="M14 11l0 6" />
                <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12" />
                <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3" />
              </svg>
            </span>
            <h4 class="text-xl font-bold ml-2 text-white">Delete</h4>
          </div>
          <p class="text-white flex-grow">
            Remove accounts as needed with ease.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
<script>
  const userData = localStorage.getItem("data");
  if (!userData) {
    window.location.href = "/login";
  }

  fetch("/details", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify({
      username: JSON.parse(userData).userName,
      password: JSON.parse(userData).password,
    }),
  })
    .then((res) => {
      if (!res.ok) {
        throw new Error(`HTTP error! status: ${res.status}`);
      }
      return res.text();
    })
    .then((text) => {
      console.log("Response text:", text);
      try {
        const data = JSON.parse(text);
        console.log("Parsed JSON data:", data);
        document.getElementById("id").innerText = data.user_id;
        document.getElementById("firstname").innerText =
          data.data.accounts.first_name || "N/A";
        document.getElementById("lastname").innerText =
          data.data.accounts.last_name || "N/A";
        document.getElementById("username").innerText =
          data.data.accounts.username || JSON.parse(userData).username;
        document.getElementById("email").innerText =
          data.data.accounts.email || "N/A";
        formatedBalance = new Intl.NumberFormat("en-US", {
          style: "currency",
          currency: "INR",
        }).format(data.data.accounts.balance);
        document.getElementById("balance").innerText = formatedBalance || "N/A";
        document.getElementById("user_image").src =
          data.data.accounts.image_image || JSON.parse(userData).image;
      } catch (err) {
        console.error("Failed to parse JSON:", err);
      }
    })
    .catch((err) => {
      console.error("Fetch error:", err);
    });
</script>
{{end}}
